body {
    margin: 0;
    font-family: Arial;
    background: #0d0d0d;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: black;
}

nav h1 { color: red; }

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 50px;
}

.hero span {
    color: red;
}

.container {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    padding: 20px;
    margin: 10px;
    width: 250px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    background: red;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.booking, .dashboard {
    background: #111;
    padding: 30px;
    margin-top: 30px;
}

select {
    padding: 10px;
    margin: 10px;
}

.stats {
    display: flex;
    justify-content: center;
}

.stat {
    background: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}